@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Cera Pro", sans-serif;
  line-height: 1.7;
  font-size: 16px;
  color: #3d3d3d;
}
.main_container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.header_container {
  border-bottom: 1px solid rgba(70, 163, 88, 50%);
  padding-top: 30px;
  padding-bottom: 17px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.banner_container {
  background-color: rgba(245, 245, 245, 50%);
  padding: 30px 15px;
  font-size: 16px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clearfix {
  display: flex;
  justify-content: space-between;
}
.clearfix::after {
  content: "";
  clear: both;
}
.logo {
  width: 150px;
}
.header_social {
  width: 351px;
}
.header_nav {
  width: calc(100% - 260px);
  flex-grow: 1;
}
.header_list {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  color: #3d3d3d;
  padding-left: 0;
}
.header_list {
  display: flex;
  justify-content: center;
  gap: 45px;
}
.header_list li {
  margin: 0 15px;
}

.link {
  text-decoration: none;
  color: #3d3d3d;
}
.link:hover,
.link:focus {
  text-shadow: 0.3px 0 #3d3d3d, -0.3px 0 #3d3d3d, 0 0.3px #3d3d3d,
    0 -0.3px #3d3d3d;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 1;
  margin: 0 0 10px;
  color: #3d3d3d;
}
.text_1 {
  font-weight: 500;
  text-transform: uppercase;
  color: #3d3d3d;
  letter-spacing: 1px;
}
.text_2 {
  color: #727272;
  margin-top: 0;
  margin-bottom: 40px;
}
.divided {
  color: #46a358;
}
.header_list li.active_1 a:after,
.header_list > li:hover > a:after {
  content: "";
  width: 100%;
  height: 3px;
  background: #46a358;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -33px;
}

.button_login {
  font-weight: 500;
  width: 100px;
  height: 35px;
  background-color: #46a358;
  color: #fff;
  border: 1px solid #46a358;
  padding: 3px 10px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
  &:hover {
    background: #fff;
    color: #46a358;
  }
}

.Logout {
  display: inline-block;
  vertical-align: middle;
}
.button_2 {
  font-weight: 700;
  min-width: 140px;
  background-color: #46a358;
  color: #fff;
  display: inline-block;
  border: 1px solid #46a358;
  border-radius: 6px;
  padding: 6px 10px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.button_2:hover {
  background: #fff;
  color: #46a358;
}
.banner_images {
  text-align: center;
  width: 38%;
}
.form_conteiner,
.text_email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.form-register,
.text_register {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.login {
  background-color: #fff;
  color: black;
  width: 78px;
  height: 16px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 16px;
  border: 0;
}
.button_register {
  background-color: #fff;
  color: #46a358;
  width: 78px;
  height: 16px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 16px;
  border: 0;
}
.input {
  display: inline-block;
  margin-bottom: 20px;
}
.button_text {
  display: block;
  background-color: #46a358;
  color: #fff;
  width: 300px;
  height: 45px;
  border: 1px solid #46a358;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 auto 15px;
  &:hover {
    background-color: #fff;
    color: #46a358;
  }
}
.social_login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  border: 1px solid #eaeaea;
  text-decoration: none;
  gap: 10px;
  transition: 0.2s;
  margin: 0 auto 15px;
  &:hover {
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.42);
  }
}
.banner {
  padding: 30px;
}
.baner__text {
  flex-basis: 55%;
}

.line::after,
.line::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  width: 95px;
  height: 1px;
  background-color: #eaeaea;
}
.btn::after,
.btn::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0.3px;
  height: 16px;
  background-color: #3d3d3d;
}
.icon_facebook,
.icon_google {
  width: 20px;
}
.sidebar {
  flex-basis: 310px;
  flex-shrink: 0;
  padding: 14px 18px;
  font-size: 15px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
}
.sidebar img {
  max-width: 310px;
  margin: 0 auto;
}

.sidebar_cat {
  list-style-type: none;
  padding: 0 0 0 12px;
  margin: 0 0 50px;
}
.sidebar_cat .active {
  color: #46a358;
  font-weight: 700;
}
.sidebar_cat li {
  margin-bottom: 20px;
}
.sidebar_cat a {
  text-decoration: none;
  color: inherit;
}
.sidebar_cat a:hover {
  color: #46a358;
}
.sidebar h3 {
  margin-top: 0;
  font-size: 18px;
}

.sidebar + .content_sidebar {
  width: calc(100% - 310px);
}

.product_sort_filter {
  text-transform: capitalize;
  list-style-type: none;
  padding: 0 0 0 24px;
  margin: 0;
  float: left;
  flex-grow: 1;
}
.product_sort_sorting {
  padding: 0 20px 0 0;
}
.product_sort_sorting_title,
.product_sort_select {
  display: inline-block;
  vertical-align: middle;
}
.product_sort_sorting_title {
  margin-right: 10px;
  padding-bottom: 5px;
}
.product_sort_option::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url("../images/Arrow\ -\ Down\ 2.svg");
}
.product_sort_filter li {
  display: inline-block;
  margin-right: 37px;
}
.product_sort_filter li.active {
  font-weight: 700;
  color: #46a358;
}
.product_sort_filter a:hover {
  font-weight: 700;
  color: #46a358;
}

.product_sort_filter a {
  text-decoration: none;
  color: inherit;
}
.product_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 50px;
  padding: 0;
}
.product_img {
  border-top: 1px solid #fbfbfb;
}
.product_img:hover {
  border-top: 1px solid #46a358;
}
.produck_item {
  position: relative;
  width: 250px;
  text-align: center;
}
.produck_item h4 {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.prace {
  font-size: 18px;
  font-weight: 700;
  margin: 0 16px 0 0;
  color: #46a358;
}
.product_img {
  max-width: 100%;
  background: rgba(251, 251, 251, 1);
}
.pages_right {
  margin: 3px 0 0 3px;
}
.pages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.pages li {
  margin-left: 10px;
  display: inline-block;
  text-align: center;
}

.pages_active a.active {
  background: #46a358;
  color: #fff;
}

.pages li a:hover {
  background: #46a358;
  color: #fff;
}
.pages a {
  width: 35px;
  height: 35px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  padding-top: 4px;
  color: inherit;
}
.product_sort {
  margin-bottom: 31px;
}
.promo_section {
  padding-top: 94px;
}
.promo_container {
  display: flex;
  gap: 28px;
  margin-bottom: 138px;
  justify-content: center;
}
.promo_item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background: #fbfbfb;
}
.promo_item img {
  max-width: 300px;
  margin-top: -50px;
}
.promo_text {
  text-align: right;
  padding: 30px 30px 20px 20px;
  color: inherit;
  flex-shrink: 0;
  flex: 1;
}
.promo_text h4 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 9px 0;
}
.promo_text p {
  color: #727272;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 25px 0;
}
.icon_btn {
  width: 18px;
  height: 18px;
}
.button span {
  display: flex;
  line-height: 20px;
  font-weight: 500;
}
.button {
  display: inline-flex;
  align-items: flex-end;
  gap: 2px;
  padding: 11px 28px;
  border: 1px solid #46a358;
  background: #46a358;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  justify-content: space-evenly;
}
.button:hover use {
  fill: #f00;
}

.button:hover {
  background: #fff;
  color: #46a358;
}
.blog_Posts {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  align-items: center;
}
.blog_Posts h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 15px 0;
}
.blog_Posts p {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 35px 0;
  color: #727272;
}
.blog_container {
  display: flex;
  gap: 43px;
  margin-bottom: 68px;
}
.blog_card {
  display: flex;
  width: 270px;
  height: 390px;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: center;
  background: #fbfbfb;
}
.blog_text {
  padding: 9px 12px 12px 14px;
}
.blog_text h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0px 40px 5px 0;
  color: #3d3d3d;
}
.blog_text p {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 5px 0;
  color: #727272;
}
.blog_date {
  font-weight: 500;
  color: #46a358;
  font-size: 14px;
}
.blog_link {
  display: inline-flex;
  gap: 3px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
  text-decoration: none;
  padding: 2px;
}
.blog_link:hover svg {
  fill: #46a358;
}
.blog_link:hover {
  color: #46a358;
}
.arrow-icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.info-sale {
  position: absolute;
  font-weight: 500;
  line-height: 16px;
  top: 14px;
  left: 0;
  padding: 6px 9px;
  color: #fff;
  background: #46a358;
}
.discount-info {
  color: #a5a5a5;
  font-size: 18px;
  line-height: 16px;
}
.discount-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product_img {
  position: relative;
  padding: 25px 10px;
}
.produck_icon {
  list-style-type: none;
  display: flex;
  position: absolute;
  bottom: 7px;
  padding: 0;
  left: 0;
  right: 0;
  justify-content: center;
  gap: 10px;
}
.produck_icon_link {
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: none;
}
.produck_item:hover .produck_icon_link {
  display: flex;
  color: #3d3d3d;
}
.produck_icon_link:hover svg {
  fill: #46a358;
}
.header_nav li {
  position: relative;
}
.header_list li:hover .header_nav_submenu {
  display: block;
}
.header_nav_secondmenu li {
  padding: 0;
  margin: 0;
}
.header_nav_submenu-item:hover .header_nav_secondmenu {
  display: block;
}
.header_nav_submenu {
  text-align: left;
  list-style-type: none;
  padding: 0;
  position: absolute;
  width: 188px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding-top: 47px;
}
.header_nav_submenu a {
  background: #edf6ee;
}

.header_nav_submenu a {
  display: block;
  padding: 8px 14px;
  text-decoration: none;
  color: inherit;
}

.header_nav_submenu a:hover {
  background: #1a712a;
  color: #fff;
  font-weight: 700;
}
.header_nav_list-item {
  position: relative;
}
.header_nav_secondmenu {
  text-align: left;
  list-style-type: none;
  padding: 2px;
  position: absolute;
  top: -130px;
  left: 100%;
  width: 176px;
  display: none;
}
.header_nav_secondmenu li {
  background: #edf6ee;
}
.header_nav_submenu-icon:after {
  content: "";
  width: 7px;
  height: 7px;
  border: solid #3d3d3d;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
  display: inline-block;
  position: relative;
  left: 65px;
}
.header_nav_submenu-icon:hover:after {
  transform: rotate(225deg);
  border-color: white;
}
.footer-section {
  background: #fbfbfb;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer-box {
  text-align: center;
  flex: 1;
  padding: 20px;
}
.footer-box {
  text-align: left;
}
.footer-box h4 {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 9px;
}
.footer-box p {
  color: #727272;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}
.footer-newsletter {
  flex: 1.5;
  padding: 20px;
}
.footer-newsletter h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}
.footer-newsletter form {
  display: flex;
  gap: 0;
  box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.05);
}
.footer-newsletter input {
  flex: 1;
  padding: 12px 11px;
  border-radius: 5px 0 0 5px;
  border: 3px solid #fff;
}
.footer-newsletter button {
  background-color: #46a358;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #46a358;
  border-radius: 5px;
  border-radius: 0 5px 5px 0;
}
.footer-newsletter button:hover {
  background-color: #fff;
  color: #46a358;
}
.footer-newsletter p {
  color: #727272;
  font-size: 13px;
  line-height: 22px;
}
.contact-bar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #EDF6EF, #52C368);
  padding: 33px 22px;
}
.contact-item a{
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
}