@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* icons */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?s1y86j");
  src: url("../fonts/icomoon.eot?s1y86j#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?s1y86j") format("truetype"),
    url("../fonts/icomoon.woff?s1y86j") format("woff"),
    url("../fonts/icomoon.svg?s1y86j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-to-cart-icon-02:before {
  content: "\e900";
}
.icon-add-to-favorites-icon-01:before {
  content: "\e901";
}
.icon-arrow--right-001:before {
  content: "\e902";
}
.icon-arrow-right-002:before {
  content: "\e903";
}
.icon-facebook-icon-01:before {
  content: "\e904";
}
.icon-greenshop-icon-01:before {
  content: "\e905";
  color: #46a358;
}
.icon-instagram-icon-01:before {
  content: "\e906";
}
.icon-linkedin-icon-01:before {
  content: "\e907";
}
.icon-map-icon-01:before {
  content: "\e908";
}
.icon-search-icon-01:before {
  content: "\e909";
}
.icon-twitter-icon-01:before {
  content: "\e90a";
}
.icon-youtube-icon-01:before {
  content: "\e90b";
}
.icon-arrow_forward_icon-00:before {
  content: "\e911";
}
.icon-log-in-icon-01:before {
  content: "\e90c";
}
.icon-phone-acon-01:before {
  content: "\e90d";
}
.icon-email-icon-01:before {
  content: "\f003";
}

body {
  font-family: "Cera Pro", sans-serif;
  line-height: 1.7;
  font-size: 16px;
  color: #3d3d3d;
}
.wrapper {
  min-width: 375px;
  overflow: hidden;
  position: relative;
}
.main_container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.header_container {
  border-bottom: 1px solid rgba(70, 163, 88, 50%);
  padding-top: 30px;
  padding-bottom: 17px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.banner_container {
  background-color: rgba(245, 245, 245, 50%);
  padding: 30px 15px;
  font-size: 16px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clearfix {
  display: flex;
  justify-content: space-between;
}
.clearfix::after {
  content: "";
  clear: both;
}
.logo img {
  margin: 0 5px;
}
.header_social {
  width: 351px;
}
.header_nav {
  width: calc(100% - 260px);
  flex-grow: 1;
}
.header_list {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  color: #3d3d3d;
  padding-left: 0;
}
.header_list {
  display: flex;
  justify-content: center;
  gap: 45px;
}
.header_list li {
  margin: 0 15px;
}

.link {
  text-decoration: none;
  color: #3d3d3d;
}
.link:hover,
.link:focus {
  text-shadow: 0.3px 0 #3d3d3d, -0.3px 0 #3d3d3d, 0 0.3px #3d3d3d,
    0 -0.3px #3d3d3d;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 1;
  margin: 0 0 10px;
  color: #3d3d3d;
}
.text_1 {
  font-weight: 500;
  text-transform: uppercase;
  color: #3d3d3d;
  letter-spacing: 1px;
}
.text_2 {
  color: #727272;
  margin-top: 0;
  margin-bottom: 40px;
}
.divided {
  color: #46a358;
}

.header_list > li > a {
  position: relative;
  display: inline-block;
}
.header_list > li > a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  top: 61px;
  left: 50%;
  right: 0;
  background-color: #46a358;
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}
.header_list > li:hover > a::after,
.header_list > li.active_1 > a::after {
  width: 100%;
  left: 0;
}

.button_login {
  font-weight: 500;
  width: 100px;
  height: 35px;
  color: #fff;
  border: 0;
  padding: 3px 10px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #409952 0%,
    #55ba72 51%,
    #409952 100%
  );
}
.button_login:hover {
  background-position: right center;
}
.Logout {
  display: inline-block;
  vertical-align: middle;
}
.button_login_icon {
  font-size: 17px;
}
.button_2 {
  font-weight: 700;
  min-width: 140px;
  color: #fff;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 6px 10px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #409952 0%,
    #55ba72 51%,
    #409952 100%
  );
  transform-origin: center;
}
.button_2:hover {
  transform: scale(1.05);
  background-position: right center;
  background-image: linear-gradient(
    to right,
    #409952 0%,
    #55ba72 51%,
    #409952 100%
  );
}
.banner_images {
  text-align: center;
  width: 38%;
}
.form_conteiner,
.text_email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.form-register,
.text_register {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.login {
  background-color: #fff;
  color: black;
  width: 78px;
  height: 16px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 16px;
  border: 0;
}
.button_register {
  background-color: #fff;
  color: #46a358;
  width: 78px;
  height: 16px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 16px;
  border: 0;
}
.input {
  display: inline-block;
  margin-bottom: 20px;
}
.button_text {
  display: block;
  background-color: #46a358;
  color: #fff;
  width: 300px;
  height: 45px;
  border: 1px solid #46a358;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 auto 15px;
  &:hover {
    background-color: #fff;
    color: #46a358;
  }
}
.social_login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  border: 1px solid #eaeaea;
  text-decoration: none;
  gap: 10px;
  transition: 0.2s;
  margin: 0 auto 15px;
  &:hover {
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.42);
  }
}
.banner {
  padding: 30px;
}
.baner__text {
  flex-basis: 55%;
}

.line::after,
.line::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  width: 95px;
  height: 1px;
  background-color: #eaeaea;
}
.btn::after,
.btn::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0.3px;
  height: 16px;
  background-color: #3d3d3d;
}
.icon_facebook,
.icon_google {
  width: 20px;
}
.sidebar {
  flex-basis: 310px;
  flex-shrink: 0;
  padding: 14px 18px;
  font-size: 15px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
}
.sidebar img {
  max-width: 310px;
  margin: 0 auto;
}

.sidebar_cat {
  list-style-type: none;
  padding: 0 0 0 12px;
  margin: 0 0 50px;
}
.sidebar_cat .active {
  color: #46a358;
  font-weight: 700;
}
.sidebar_cat li {
  margin-bottom: 20px;
}
.sidebar_cat a {
  text-decoration: none;
  color: inherit;
}
.sidebar_cat a:hover {
  color: #46a358;
}
.sidebar h3 {
  margin-top: 0;
  font-size: 18px;
}

.sidebar + .content_sidebar {
  width: calc(100% - 310px);
}

.product_sort_filter {
  text-transform: capitalize;
  list-style-type: none;
  padding: 0 0 0 24px;
  margin: 0;
  float: left;
  flex-grow: 1;
}
.product_sort_sorting {
  padding: 0 20px 0 0;
}
.product_sort_sorting_title,
.product_sort_select {
  display: inline-block;
  vertical-align: middle;
}
.product_sort_sorting_title {
  margin-right: 10px;
  padding-bottom: 5px;
}
.product_sort_option::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.product_sort_filter li {
  display: inline-block;
  margin-right: 37px;
}
.product_sort_filter li.active {
  font-weight: 700;
  color: #46a358;
}
.product_sort_filter a:hover {
  color: #46a358;
}

.product_sort_filter a {
  text-decoration: none;
  color: inherit;
}
.product_sort_filter > li > a {
  position: relative;
  display: inline-block;
}
.product_sort_filter > li > a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  top: 30px;
  left: 50%;
  background-color: #46a358;
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}
.product_sort_filter li:hover > a::after {
  width: 100%;
  left: 0;
}
.product_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 50px;
  padding: 0;
}
.product_img {
  position: relative;
}
.product_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #46a358;
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}
.product_img:hover::after {
  width: 100%;
  left: 0;
}
.produck_item {
  position: relative;
  width: 250px;
  text-align: center;
}
.produck_item h4 {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.prace {
  font-size: 18px;
  font-weight: 700;
  margin: 0 16px 0 0;
  color: #46a358;
}
.product_img {
  max-width: 100%;
  background: rgba(251, 251, 251, 1);
}
.pages_right {
  padding: 5px 0 0 3px;
}
.pages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.pages li {
  margin-left: 10px;
  display: inline-block;
  text-align: center;
}
.pages_active a:active {
  background: #46a358;
  color: #fff;
}
.pages li a:hover {
  background: #46a358;
  color: #fff;
}
.pages a {
  width: 35px;
  height: 35px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  padding: 2px;
  color: inherit;
}
.pages_icon-arrow {
  font-size: 14px;
}
.product_sort {
  margin-bottom: 31px;
}
.promo_section {
  padding-top: 94px;
}
.promo_container {
  display: flex;
  gap: 28px;
  margin-bottom: 138px;
  justify-content: center;
}
.promo_item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background: #fbfbfb;
}
.promo_item img {
  max-width: 300px;
  margin-top: -50px;
}
.promo_text {
  text-align: right;
  padding: 30px 30px 20px 20px;
  color: inherit;
  flex-shrink: 0;
  flex: 1;
}
.promo_text h4 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 9px 0;
}
.promo_text p {
  color: #727272;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 25px 0;
}
.icon_btn {
  width: 18px;
  height: 18px;
}
.button span {
  display: flex;
  line-height: 20px;
  font-weight: 500;
}
.button {
  display: inline-flex;
  align-items: flex-end;
  gap: 5px;
  padding: 11px 28px;
  color: #fff;
  border: 1px solid #46a358;
  border-radius: 6px;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #409952 0%,
    #55ba72 51%,
    #409952 100%
  );
  text-decoration: none;
  justify-content: space-evenly;
}
.button:hover {
  background-position: right center;
}
.blog_Posts {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  align-items: center;
}
.blog_Posts h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 15px 0;
}
.blog_Posts p {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 35px 0;
  color: #727272;
}
.blog_container {
  display: flex;
  gap: 43px;
  margin-bottom: 68px;
}
.blog_card {
  display: flex;
  width: 270px;
  height: 390px;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: center;
  background: #fbfbfb;
}
.blog_text {
  padding: 9px 12px 12px 14px;
}
.blog_text h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0px 40px 5px 0;
  color: #3d3d3d;
}
.blog_text p {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 5px 0;
  color: #727272;
}
.blog_date {
  font-weight: 500;
  color: #46a358;
  font-size: 14px;
}
.blog_link {
  display: inline-flex;
  gap: 3px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
  text-decoration: none;
  padding: 2px;
}
.blog_link:hover svg {
  fill: #46a358;
  transition: 0.25s;
}
.blog_link:hover {
  color: #46a358;
  transition: 0.25s;
}
.arrow-icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.info-sale {
  position: absolute;
  font-weight: 500;
  line-height: 16px;
  top: 14px;
  left: 0;
  padding: 6px 9px;
  color: #fff;
  background: #46a358;
}
.discount-info {
  color: #a5a5a5;
  font-size: 18px;
  line-height: 16px;
}
.discount-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product_img {
  position: relative;
  padding: 25px 10px;
}
.produck_icon {
  list-style-type: none;
  display: flex;
  position: absolute;
  bottom: 7px;
  padding: 0;
  left: 0;
  right: 0;
  justify-content: center;
  gap: 10px;
}
.produck_icon_link {
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: none;
}
.produck_item:hover .produck_icon_link {
  display: flex;
  color: #3d3d3d;
}
.header_nav li {
  position: relative;
}
.header_list li:hover .header_nav_submenu {
  opacity: 1;
  visibility: visible;
  top: 26px;
}
.header_nav_secondmenu li {
  padding: 0;
  margin: 0;
}
.header_nav_submenu-item:hover .header_nav_secondmenu {
  display: block;
}
.header_nav_submenu {
  text-align: left;
  list-style-type: none;
  padding: 0;
  top: 100px;
  position: absolute;
  width: 188px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: top 0.2s linear, opacity 0.4s, visibility 0.2s;
  padding-top: 47px;
}
.header_nav_submenu li {
  background: #edf6ee;
}

.header_nav_submenu a {
  display: block;
  padding: 8px 14px;
  text-decoration: none;
  color: inherit;
}

.header_nav_submenu li:hover > a {
  background: #1a712a;
  color: #fff;
  font-weight: 700;
}
.header_nav_list-item {
  position: relative;
}
.header_nav_secondmenu {
  text-align: left;
  list-style-type: none;
  padding: 2px;
  position: absolute;
  top: -132px;
  left: 100%;
  width: 176px;
  display: none;
}
.header_nav_secondmenu li {
  background: #edf6ee;
}
.main--navigation {
  display: flex;
  align-items: baseline;
}
.header_nav_submenu-icon:after {
  content: "";
  width: 7px;
  height: 7px;
  border: solid #3d3d3d;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
  display: inline-block;
  position: relative;
  left: 65px;
}
.icon-search-nav {
  font-size: 20px;
  padding: 5px 15px;
  transition: color 0.2s ease, opacity 0.35s ease;
}
.icon-search-nav:hover {
  color: #46a358;
  opacity: 0.7s;
}
.cart-container {
  position: relative;
  display: inline-block;
}
.cart-bage {
  position: absolute;
  top: -3px;
  right: 22px;
  background-color: #46a358;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-cart-nav {
  font-size: 22px;
  padding: 5px 30px 5px 15px;
}
.header_nav_submenu-item:hover .header_nav_submenu-icon:after {
  transform: rotate(225deg);
  border-color: white;
}
.footer-section {
  background: #fbfbfb;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer-box {
  text-align: center;
  flex: 1;
  padding: 20px;
}
.footer-box:nth-child(1) {
  padding-top: 100px;
  background: url(/images/Picture_01.png) no-repeat 20px 20px;
}
.footer-box:nth-child(2) {
  padding-top: 100px;
  background: url(/images/Picture-02.svg) no-repeat 20px 20px;
}
.footer-box:nth-child(3) {
  padding-top: 100px;
  background: url(/images/Picture_03.svg) no-repeat 20px 20px;
}
.footer-box h4 {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  margin: 10px 0 0 0;
  padding-top: 15px;
  padding-bottom: 9px;
}
.footer-box p {
  color: #727272;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}
.footer-box {
  position: relative;
  padding: 20px;
  text-align: left;
}
.footer-box::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 2px;
  height: 65%;
  background-color: rgba(70, 163, 88, 0.1);
  transform: translateY(-50%);
}
.footer-box:nth-child(3)::after {
  display: none;
}
.footer-newsletter {
  flex: 1.5;
  padding: 20px;
}
.footer-newsletter h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}
.footer-newsletter form {
  display: flex;
  gap: 0;
  box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.05);
}
.footer-newsletter input {
  flex: 1;
  padding: 12px 11px;
  border-radius: 5px 0 0 5px;
  border: 3px solid #fff;
}
.footer-newsletter input:focus-visible {
  outline: none;
}

.footer-newsletter button {
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #46a358;
  border-radius: 5px;
  border-radius: 0 5px 5px 0;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #409952 0%,
    #55ba72 51%,
    #409952 100%
  );
}
.footer-newsletter button:hover {
  background-position: right center;
}
.footer-newsletter p {
  color: #727272;
  font-size: 13px;
  line-height: 22px;
}
.contact-bar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #edf6ef, #52c368);
  padding: 33px 22px;
}
.contact-item {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  transition: color 0.1s ease, transform 0.5s ease;
}
.contact-item:hover {
  color: #2e9040;
  transform: scale(1.06);
}
.contact-item i {
  vertical-align: middle;
}
.footer {
  background: #fbfbfb;
  border-bottom: 2px solid #46a35833;
  padding: 40px 20px;
}
.footer-container-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-section-list {
  flex: 1;
  margin: 0px;
}
.footer-section-list h4 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  text-align: left;
}
.footer-section-list ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
.footer-section-list > li,
a {
  line-height: 30px;
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: color 0.2s ease, opacity 0.35s ease;
}
.footer-section-list a:hover {
  color: #46a358;
  opacity: 0.7;
}
.sosial-list a.sosial-list-link {
  transition: color 0.4s ease, border 0.4s ease;
  color: rgba(70, 163, 88, 0.6);
}
.sosial-list a:hover.sosial-list-link {
  color: #1e7a2f;
  border: 1px solid rgba(70, 163, 88, 50%);
}
.confidentiality {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}
.footer-section-list img {
  padding: 13px 0;
}
.sosial-list {
  display: flex;
  gap: 10px;
  margin: 20px 0 33px 0;
}
.sosial-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  border-radius: 4px;
  border: 1px solid rgba(70, 163, 88, 0.2);
  width: 30px;
  height: 30px;
  margin: 5px 0;
}
.sosial-list ul {
  margin: 0;
}
.blog_icon-arrow {
  font-size: 16px;
}
.promo_icon-arrow-right-002 {
  font-size: 12px;
}
.produck_icon_favorites {
  font-size: 20px;
  color: #3d3d3d;
}
.produck_icon_favorites:hover {
  color: #46a358;
}
/* Burger-menu */
.burger {
  width: 24px;
  height: 25px;
  position: relative;
  cursor: pointer;
  left: 17px;
  top: 5px;
  z-index: 1100;
}
.check:checked + .main-menu {
  transform: translateX(0);
}
.burger span,
.burger::after,
.burger::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  background: #3d3d3d;
  transition: all 0.3 ease-in-out;
}
.burger::before {
  top: 0;
  left: 0;
  transition: transform 0.2s linear;
}
.burger::after {
  bottom: 0;
  top: auto;
  transition: transform 0.2s linear;
}
.burger span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -2px);
  transition: transform 0.2s linear, opacity 0.2s;
}
/* burger-main-menu */
.main-menu {
  background: rgba(220, 244, 220, 0.811);
  position: absolute;
  width: 200px;
  top: 154%;
  left: 56%;
  transform: translateX(-50%);
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  z-index: 10;
}
.main-menu ul {
  padding: 0;
  margin: 0;
}
.main-menu li {
  text-align: center;
  list-style-type: none;
  padding: 10px 5px;
}
.main-menu li:hover {
  font-weight: 700;
  color: #fff;
  background: #2e9040;
}
.check {
  position: absolute;
  left: -9999px;
}
.check:checked + .burger span {
  opacity: 0;
  transform: translate(-50%, -2px) scale(0);
}
.check:checked + .burger::after {
  transform: rotate(-45deg) translate(10px, -10px);
}
.check:checked + .burger::before {
  transform: rotate(45deg) translate(5px, 5px);
}
.label-input:has(.check:checked) + .main-menu {
  width: 200px;
  height: 220px;
}
/* Preloader-spinner-box  */

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1d2630;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0deg);
  }
}

.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.leo-border-1 {
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63, 249, 220);
  background: linear-gradient(
    0deg,
    rgba(63, 249, 220, 0.1) 33%,
    rgba(63, 249, 220, 1) 100%
  );
  animation: spin3D 1.8s linear 0s infinite;
}
.leo-core-1 {
  width: 100%;
  height: 100%;
  background-color: #37474faa;
  border-radius: 50%;
}
.leo-border-2 {
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(251, 91, 83);
  background: linear-gradient(
    0deg,
    rgba(251, 91, 83, 0.1) 33%,
    rgba(251, 91, 83, 1) 100%
  );
  animation: spin3D 2.2s linear 0s infinite;
}
.leo-core-2 {
  width: 100%;
  height: 100%;
  background-color: #1d2630aa;
  border-radius: 50%;
}

@media (max-width: 465px) {
  .main_container {
    padding: 10px 15px;
  }
  .button_2 {
    font-size: 15px;
    width: 120px;
    padding: 11px 9px;
  }
}
@media (max-width: 805px) {
  .header_nav {
    display: none;
  }
}
@media (max-width: 805px) {
  .button_login {
    width: 31px;
    height: 29px;
    font-size: 0;
    padding: 6px;
  }
}
.burger {
  display: none;
}
@media (max-width: 805px) {
  .burger {
    display: block;
  }
}
@media (max-width: 805px) {
  .main--navigation {
    position: absolute;
    right: 24px;
  }
}
@media (max-width: 805px) {
  .main-menu {
    display: block;
  }
}
@media (max-width: 805px) {
  .banner {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 1054px) {
  .banner {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 805px) {
  .baner__text h1 {
    font-size: 40px;
  }
  .baner__text p {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .text_1 {
    margin-bottom: 10px;
  }
}
@media (max-width: 478px) {
  .banner_container {
    padding: 30px 10px;
  }
  .banner {
    padding: 10px 5px;
  }
}
@media (max-width: 1054px) {
  .banner_img {
    display: none;
  }
}
@media (max-width: 1170px) {
  .promo_item img {
    margin-right: -54px;
  }
}
@media (max-width: 1170px) {
  .promo_text {
    padding: 10px 10px 10px 0;
  }
  .promo_text h4 {
    margin: 20px 0 9px 0;
  }
}
@media (max-width: 850px) {
  .promo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
@media (max-width: 950px) {
  .promo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
}
@media (max-width: 478px) {
  .promo_item img {
    width: 237px;
    margin-top: -37px;
  }
}
@media (max-width: 465px) {
  .promo_item img {
    width: 183px;
    margin-top: 15px;
  }
}
@media (max-width: 465px) {
  .promo_text h4 {
    font-size: 17px;
  }
  .promo_text p {
    font-size: 12px;
    margin: 0 0 11px 0;
  }
}
@media (max-width: 465px) {
  .button {
    font-size: 14px;
    padding: 7px 13px;
  }
}
@media (max-width: 465px) {
  .blog_container {
    display: grid;
    justify-items: center;
  }
}
@media (max-width: 850px) {
  .product_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 89%;
    gap: 20px;
  }
}
@media (max-width: 850px) {
  .blog_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-items: center;
    gap: 25px;
  }
}
@media (max-width: 850px) {
  .blog_card {
    width: 82%;
  }
}
@media (max-width: 850px) {
  .blog_text h4 {
    font-size: 17px;
  }
  .blog_text p {
    font-size: 13px;
  }
}
@media (max-width: 850px) {
  .blog_date {
    font-size: 12px;
  }
}
@media (max-width: 465px) {
  .blog_Posts p {
    text-align: center;
  }
}
@media (max-width: 850px) {
  .blog_Posts p {
    text-align: center;
  }
}
@media (max-width: 465px) {
  .footer-container {
    display: grid;
  }
}
@media (max-width: 465px) {
  .footer-box:nth-child(1) {
    padding-top: 0;
    background: url(/images/Picture_01.png) no-repeat 17px 19px;
  }
  .footer-box:nth-child(2) {
    padding-top: 0;
    background: url(/images/Picture-02.svg) no-repeat 17px 22px;
  }
  .footer-box:nth-child(3) {
    padding-top: 0;
    background: url(/images/Picture_03.svg) no-repeat 17px 15px;
  }
  .footer-box {
    display: grid;
    padding: 5px 5px 21px 124px;
  }
  .footer-box::after {
    top: 114%;
    right: 23px;
    width: 276px;
    height: 2px;
  }
}
@media (max-width: 620px) {
  .footer-container {
    display: grid;
    gap: 10px;
  }
  .footer-box {
    padding-top: none;
    padding: 15px 10px 15px 109px;
  }
  .footer-box:nth-child(1) {
    padding-top: 15px;
    background: url(/images/Picture_01.png) no-repeat 15px 15px;
  }
  .footer-box:nth-child(2) {
    padding-top: 15px;
    background: url(/images/Picture-02.svg) no-repeat 12px 16px;
  }
  .footer-box:nth-child(3) {
    padding-top: 15px;
    background: url(/images/Picture_03.svg) no-repeat 11px 15px;
  }
}

@media (min-width: 466px) and (max-width: 485px) {
  .footer-box::after {
    top: 115%;
    right: 22px;
    width: 352px;
    height: 2px;
  }
}
@media (min-width: 485px) and (max-width: 530px) {
  .footer-box::after {
    top: 115%;
    right: 55px;
    width: 329px;
    height: 2px;
  }
}
@media (min-width: 530px) and (max-width: 620px) {
  .footer-box::after {
    top: 115%;
    right: 64px;
    width: 397px;
    height: 2px;
  }
}
@media (max-width: 465px) {
  .footer-newsletter {
    padding: 10px;
    margin: 10px auto;
  }
  .footer-newsletter h4 {
    font-size: 16px;
    text-align: center;
  }
  .footer-newsletter p {
    font-size: 12px;
  }
  .footer-newsletter input {
    padding: 8px;
    font-size: 14px;
  }
  .footer-newsletter button {
    padding: 8px 12px;
    font-size: 15px;
  }
}
@media (max-width: 465px) {
  .contact-bar {
    display: grid;
    padding: 15px 5px;
    gap: 4px;
  }
  .footer-section-list > li,
  a {
    font-size: 14px;
    line-height: 20px;
  }
  .contact-bar-logo-icon {
    width: 114px;
  }
}
@media (max-width: 465px) {
  .footer {
    padding: 20px 10px 10px 10px;
  }
  .footer-container-list {
    display: flex;
  }
  .footer-section-list {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    margin: 4px;
  }
  .footer-section-list h4 {
    font-size: 14px;
    text-align: left;
  }
  .footer-section-list ul {
    margin: 11px 0 18px 0;
  }
}
@media (max-width: 850px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .sidebar_cat {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    margin: 0;
  }
  .sidebar_cat li {
    margin-bottom: 4px;
  }
}
@media (max-width: 465px) {
  .clearfix {
    display: flex;
    flex-direction: column;
  }
  .product_sort_filter {
    display: flex;
    margin: 0;
    align-items: center;
    padding: 2px 2px 2px 2px;
    white-space: nowrap;
  }
  .product_sort_filter a {
    padding: 10px 10px;
  }
  .product_sort_filter li {
    margin: 5px 5px;
  }
  .product_sort_sorting {
    display: flex;
    padding: 0;
    white-space: nowrap;
  }
  .product_sort_sorting_title {
    margin-right: 31px;
    padding: 0 0 0 16px;
  }
}
@media (max-width: 465px) {
  .product_list {
    display: flex;
    flex-direction: column;
    margin: 50px;
  }
}
@media (max-width: 465px) {
  .pages {
    position: absolute;
    left: 106px;
  }
  .pages a {
    padding: 7px;
  }
}
@media (max-width: 880px) {
  .contact-bar {
    font-size: 12px;
    padding: 25px 22px;
    flex-direction: column;
  }
}
@media (min-width: 795px) and (max-width: 950px) {
  .footer-box h4 {
    font-size: 15px;
  }
  .footer-newsletter h4 {
    font-size: 17px;
    line-height: 23px;
  }
}
@media (min-width: 795px) and (max-width: 1111px) {
  .footer-newsletter h4 {
    font-size: 17px;
    line-height: 23px;
  }
}
@media (max-width: 550px) {
  .blog_Posts {
    padding: 0 20px;
    font-size: 13px;
  }
}
